/* LoadingPage */
#loadingPage {
  margin: 0;
  padding: 0;
  width:100vw;
  height: 100vh;
  background-color: #eee;
}
.content {

  justify-content: center;
  align-items: center;
  width:100%;

}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}


/* EndLoadingPage */


.masthead .masthead-avatar {
  width: 20rem;
  height: auto;
  margin-top: 1rem;
}

/* .masthead .masthead-heading {
  font-size: 2rem;
  line-height: 2.75rem;
}

.masthead .masthead-subheading {
  font-size: 1.25rem;
} */

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail2 {
  padding: 0.5rem;
  background-color: #fff;
  border: 0.125rem solid #dee2e6;
  border-radius: 0.5rem;
  max-width: 100%;
  height: auto;
}

.portfolio {
  margin-bottom: -30px;
  /* background-image: url("../img/portfolio/splash.jpg"); */
}

.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 30px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  /* background-color: rgba(26, 188, 156, 0.9); */
  background-color: #151515ba;
}

.portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 30px;
  overflow: hidden;
}

.portfolio-item .portfolio-item-caption {
  position: absolute;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  /* background-color: rgba(26, 188, 156, 0.9); */
  background-color: #151515ba;
}

.portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}

/* OverlayEffects */
.mod-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 30px;
  overflow: hidden;
}

.mod-item .overlay {
  position: absolute;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background-color: rgba(26, 188, 156, 0.9);
}

.mod-item .overlay:hover {
  opacity: 1;
}

.mod-item .overlay .text {
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
}

.text {
  font-size: 20px;
  text-align: center;
}

.portfolio-lead {
  font-size: 1.15rem;
  font-weight: 500;
}

.portfolio-lead-header {
  font-size: 1.15rem;
  padding-top: 1.5rem;
  margin-left: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: bold;
}

/* Slideshow container */
.slideshow-container-about {
  position: relative;
  /* background: #f1f1f1f1; */
  background: ##1abc9c !important
}

/* Slides */
.mySlides-about {
  display: block;
  padding: 40px;
  text-align: center;
}

.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: block;
  padding: 40px;
  text-align: center;
}

.skill-list-font {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

.skill-list-font-courses {
  font-size: 1.10rem;
  font-weight: 400;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  position: absolute;
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: ##1abc9c !important
}

.skills-font {
  font-size: 1.25rem;
  line-height: 1.5rem;
  /* padding-left:: 5rem;
   padding-right: 5rem; */
}

.skills-font-header {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  padding-top: 1.5rem;
  /* padding-left: 5rem;
   padding-right: 5rem; */
}

.videoplayer {}

.modal-link {}

.portfolio-about {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-indent: 40px;
  margin: 3rem 2rem 1rem 2rem;
}

.carousel-control-prev {
  left: -45px;
}

.carousel-control-next {
  right: -45px;
}

@media (min-width: 576px) {
  .masthead {
    padding-top: calc(1rem + 50px);
    padding-bottom: 8rem;

  }

  .mod1-image-header {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    color: #2c3e50;
  }

  .mod1-image-header:hover {
    text-decoration: underline;
  }

  .portfolio-lead-header {
    font-size: 1.15rem;
    padding-top: 1.5rem;
    margin: 0rem 0rem 1rem 0rem;
    font-weight: bold;
  }

  .portfolio-lead-text {
    font-size: 1rem;
    padding-bottom: 0;
    margin: 1rem 0rem 2rem 0rem;
    font-weight: 300;
    line-height: normal;
  }

  .img-thumbnail {
    padding: 0.5rem;
    background-color: #fff;
    border: 0.125rem solid #dee2e6;
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
  }

  .carousel-control-prev {
    left: -50px;
  }

  .carousel-control-next {
    right: -50px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    /* flex-wrap: wrap; */
    position: absolute;
    top: -240px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    /* margin-left: -10rem;
  margin-right: -10rem; */
  }

  .carousel-skills-prev,
  .carousel-skills-next {
    /* flex-wrap: wrap; */
    position: absolute;
    top: -240px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;

    text-align: center;

    transition: opacity 0.15s ease;
    /* margin-left: -10rem;
  margin-right: -10rem; */
  }

  .carousel {
    position: relative;
    height: 700px;
  }

  .portfolio-about {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    text-indent: 40px;
    margin: 1rem 0rem 1rem 0rem;
  }
  .portfolio-about-header {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 0rem 1.5rem 0rem 1.5rem;
  }

  .skill-list-font-courses {
    font-size: 1.009rem;
    font-weight: 400;
    margin: 0.5rem 1.5rem 1rem 1.5rem;
  }

  .portfolio-game-text {
    font-size: 1rem;
    padding-bottom: 0;
    margin: 0rem 2rem 1rem 2rem;
    font-weight: 500;
    line-height: 1.25;
  }

  .portfolio-game-header {
    font-size: 1.1rem;
    margin: 1rem 2rem 0rem 2rem;
    font-weight: bold;
  }


}

@media (max-width: 576px) {
.corner-close{
  font-size: .5em;
  left: 10px;
}

  .skill-list-font-courses {
    font-size: 1rem;
    font-weight: 300;
    margin: 0rem 1rem 1.5rem 1rem;
  }

  .portfolio-modal .portfolio-modal-title {
    font-size: 1.75rem;
    line-height: 1.5rem;
  }

  /* .portfolio-modal .portfolio-modal-title {
    font-size: 2rem;
    line-height: 1.75rem;
  } */

  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem .8rem;
  }

  .masthead {
    padding-top: calc(1rem + 50px);
    padding-bottom: 2rem;

  }

  .masthead .masthead-heading {
    font-size: 1.7rem;
    line-height: 2rem;
    padding: 2rem 0rem 1rem 0rem;
  }

  .masthead .masthead-subheading {
    font-size: 1.15rem;
  }

  .masthead .masthead-avatar {
    width: 70%;
    height: auto;
    margin-top: 0rem;
  }

  .masthead-description {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0rem 0 0rem;
    text-indent: 40px;
    text-align: center;
  }

  .mod1-image-header {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .5rem;
    padding-top: .2rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    color: #2c3e50;
  }



  .mod1-image-header:hover {
    text-decoration: underline;
  }

  .img-thumbnail {
    padding: 0rem;
    background-color: #fff;
    border: 0.2rem solid #dee2e6;
    border-radius: 0.1rem;
    max-width: 100%;
    height: auto;
  }

  .skills-font {
    font-size: 1.15rem;
    line-height: 1.25rem;
    /* padding-left:: 5rem;
     padding-right: 5rem; */
  }

  .skills-font-header {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 2rem;
    padding-top: 1.5rem;
    /* padding-left: 5rem;
     padding-right: 5rem; */
  }



  .portfolio-lead-text {
    font-size: 1rem;
    padding-bottom: 0;
    margin: 0rem 1rem 2rem 1rem;
    font-weight: 500;
    line-height: 1.25;
  }

  .portfolio-game-text {
    font-size: 1rem;
    padding-bottom: 0;
    margin: 0rem 1rem 2rem 1rem;
    font-weight: 500;
    line-height: 1.25;
  }

  .portfolio-game-header {
    font-size: 1.1rem;
    margin: 1rem 1rem 0rem 1rem;
    font-weight: bold;
  }

  .portfolio-lead-subheader {
    font-size: .9rem;
    padding-bottom: 0;
    margin: 0rem 1rem 2rem 1rem;
    font-weight: 500;
    line-height: normal;
  }

  .portfolio-about {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4rem;
    text-indent: 40px;
    margin: 2rem 0rem 1rem 0rem;
  }

  .carousel-control-prev {
    left: -35px;
  }

  .carousel-control-next {
    right: -35px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    /* flex-wrap: wrap; */
    position: absolute;
    top: -240px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    /* margin-left: -10rem;
  margin-right: -10rem; */
  }

  .carousel-skills-prev,
  .carousel-skills-next {
    /* flex-wrap: wrap; */
    position: absolute;
    top: -240px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;

    text-align: center;

    transition: opacity 0.15s ease;
    /* margin-left: -10rem;
  margin-right: -10rem; */
  }

  .skills-button{
        position: absolute;
        bottom: 0;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
  }

  .carousel {
    position: relative;
    height: 800px;
  }

  .portfolio-about-header {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 0rem 0rem 0rem 0rem;
  }










}

@media (min-width: 768px) {
  /* .portfolio-modal .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  } */

  /* .masthead {
    padding-top: 6rem;
    padding-bottom: 6.5rem;
  } */

  .masthead .masthead-heading {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
  }

  .masthead .masthead-subheading {
    font-size: 1.25rem;
  }

  .masthead-description {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 3rem 0 3rem;
    line-height: 1.75rem;
  }
  .skill-list-font {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .masthead .masthead-avatar {
      width: 20rem;
    margin-top: 0rem;
    height: auto;
    padding-bottom: 1rem;
  }

  .portfolio-lead-header {
    font-size: 1.15rem;
    margin: 1.25rem 4rem 0rem 4rem;
    font-weight: bold;
  }

  .portfolio-lead-header {
    font-size: 1.20rem;
    margin: 2rem 3rem 1rem 3rem;
    font-weight: bold;
  }

  .portfolio-lead-text {
    font-size: 1.10rem;
    padding-bottom: 0;
    margin: 1rem 3rem 3rem 3rem;
    font-weight: 500;
    line-height: 1.75;
  }

  .portfolio-about {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    text-indent: 40px;
    margin: 2rem 0rem 1rem 0rem;
  }
  .portfolio-about-header {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 0rem 0rem 0rem 0rem;
  }

  .carousel-control-prev {
    left: -60px;
  }

  .carousel-control-next {
    right: -60px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    /* flex-wrap: wrap; */
    position: absolute;
    top: -220px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    color: #1abc9c;
    text-align: center;
    opacity: 1;
    transition: opacity 0.15s ease;
    /* margin-left: -10rem;
  margin-right: -10rem; */
  }

  .carousel {
    position: relative;
    height: 700px;
  }


#carousel-skills{
  height: 200px;
}
  .carousel-skills{
    position: relative;
    height: 200px;
  }

  .skill-list-font-courses {
    font-size: 1.10rem;
    font-weight: 400;
    margin: 1rem 3rem 2rem 3rem;
  }

  .portfolio-game-text {
    font-size: 1rem;
    padding-bottom: 0;
    margin: 0rem 0rem 1rem 2rem;
    font-weight: 500;
    line-height: 1.25;
  }

  .portfolio-game-header {
    font-size: 1.1rem;
    margin: 1rem 0rem 0rem 0rem;
    font-weight: bold;
  }

  .masthead-desctiption {
    font-size: 1.15rem;
    font-weight: 500;
    margin: 0 0rem 0 0rem;
  }

}

@media (max-width: 768px) {



}

.mod1-image-header:hover {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .masthead  .masthead-avatar{
      width: 22.5rem;
      height: auto;
      margin-top: 1.5rem;
    }
  .portfolio-modal .portfolio-modal-title {
    font-size: 2.5rem;
    line-height: 2rem;
  }

  .masthead {
    padding-top: 6rem;
    padding-bottom: 6.5rem;
  }

  .masthead .masthead-heading {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  .masthead .masthead-subheading {
    font-size: 1.8rem;

  }

  .masthead-description {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 2rem 0 2rem;
  }


.slide-row {
  padding: 0px 160px;
}

.skill-list-font {
  font-size: 1.25rem;
  font-weight: 500;
}

.portfolio-lead {
  font-size: 1.25rem;
  font-weight: 500;
}

.portfolio-lead-header {
  font-size: 1.25rem;
  margin: 1rem 8rem 1rem 8rem;
  font-weight: bold;
}

.portfolio-lead-text {
  font-size: 1.10rem;
  padding-bottom: 0;
  margin: 0rem 8rem 2rem 8rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.portfolio-about {
  font-size: 1.35rem;
  font-weight: 400;
  line-height: 1.85rem;
  text-indent: 40px;
  margin: 3rem 6rem 0rem 6rem;
}

.portfolio-about-header {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 0rem 0rem 0rem 0rem;
}

.carousel-control-prev {
  left: -60px;
}

.carousel-control-next {
  right: -60px;
}

.carousel-control-prev,
.carousel-control-next {
  /* flex-wrap: wrap; */
  position: absolute;
  top: -220px;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  /* margin-left: -10rem;
  margin-right: -10rem; */
}

.carousel-skills-prev,
.carousel-skills-next {
  /* flex-wrap: wrap; */
  position: absolute;
  top: -220px;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;

  text-align: center;

  transition: opacity 0.15s ease;
  /* margin-left: -10rem;
  margin-right: -10rem; */
}

.carousel {
  position: relative;
  height: 700px;
}


.skill-list-font-courses {
  font-size: 1.10rem;
  font-weight: 400;
  margin: 1rem 6rem 0rem 6rem;
}
.portfolio-game-text {
  font-size: 1.05rem;
  padding-bottom: 0;
  margin: 0rem 1rem 1rem 3rem;
  font-weight: 500;
  line-height: 1.25;
}

.portfolio-game-header {
  font-size: 1.15rem;
  margin: 1rem 0rem 0rem 0rem;
  font-weight: bold;
}

}

@media (min-width: 1200px) {
.masthead  .masthead-avatar{
    width: 25rem;
    height: auto;
    margin-top: 1.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.8rem;
}
  .portfolio-lead-header {
    font-size: 1.25rem;
    margin: 1rem 8rem 1rem 8rem;
    font-weight: bold;
  }

  .portfolio-lead-text {
    font-size: 1.25rem;
    margin: 0rem 8rem 2rem 8rem;
    font-weight: 500;
    line-height: 1.75rem;
  }

  .masthead-description {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 0rem 0 0rem;
  }

}
